.footer {
    background-color: rgb(244, 244, 244);
    color: #000000;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-logo {
    height: 130px;
}

.footer-logo img {
    height: 100%;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

.footer-section ul li a {
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section span {
    font-weight: 700;
    font-style: normal;
}

.footer-bottom {
    margin-top: 50px;
    font-size: 14px;
    font-style: italic;
}