.footer {
    background-color: rgb(244, 244, 244);
    color: #000000;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-logo {
    height: 130px;
    margin-bottom: 20px;
}

.footer-logo img {
    height: 100%;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-section ul {
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
}

.footer-section ul li a {
    font-size: 14px;
    font-weight: 500;
    transition: color 0.3s;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section span {
    font-weight: 700;
    font-style: normal;
}

.footer-bottom {
    margin-top: 50px;
    font-size: 14px;
    font-style: italic;
}

@media (max-width: 991px) {

    .footer{
        padding: 40px 0px;
    }
    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-logo {
        height: 120px;
        margin-bottom: 50px;
    }

    .footer-section ul li {
        justify-content: center;
    }
}

@media (max-width: 767px) {

    .footer{
        padding: 40px 0px;
    }
    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-logo {
        height: 100px;
        margin-bottom: 50px;
    }

    .footer-section ul li {
        justify-content: center;
    }
}
