/* Admin-Nav */
.admin-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002c3e;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
}

.logout-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

.admin-nav h2 {
    color: white;
    margin-bottom: 0px;
}

.admin-logo-container {
    width: 80px;
    margin-right: 50px;
}

.admin-logo-container img {
    width: 100%;
}

/* Sidebar Nav */

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #77dbff;
    color: #002c3e;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #002c3e;
}

/* Sidebar List */
.sidebar ul {
    width: 100%;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 20px;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 1px solid #002c3e;
}

.sidebar ul li a:hover {
    background-color: #002c3e;
    color: white;
}

.admin-content {
    margin-left: 200px;
    margin-top: 80px;
    padding: 20px;
    width: calc(100% - 200px);
}

/* Dashboard */

.admin-dashboard {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.admin-dashboard h2 {
    color: #002c3e;
    text-align: center;
    margin: 20px;
}

.admin-dashboard .admin-text {
    width: 70%;
    margin: auto;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: #002c3e;
}

.card {
    background-color: #77dbff;
    color: #002c3e;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    font-size: 17px;
    font-weight: 600;
    color: #002c3e;
}

/* Test Requests */

.test-requests {
    padding: 40px 20px;
}

.titl {
    width: 15%;
}

.descri {
    font-weight: 100 !important;
    width: 75%;
}

.test-requests h2 {
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}

/* Users */

.users {
    padding: 20px;
}

.users h1 {
    text-align: center;
    margin: 20px;
    font-weight: bolder;
}

.user-details {
    text-align: center;
    margin: 40px;
}

.total-users {
    color: red;
    font-weight: 600;
}

table {
    width: 100%;
    overflow-x: scroll;
    border-collapse: collapse;
    margin-top: 20px;
    font-weight: 600;
}

th {
    background-color: #002c3e;
    color: white;
}

td {
    background-color: #9de1fa;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #002c3e;
}

select {
    border: 1px solid #002c3e;
    outline: none;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    background-color: #002533;
    color: white;
    cursor: pointer;
}

select option {
    background: #9de1fa;
    color: #333;
    font-size: 14px;
    padding: 10px;
}

/* Booking Details */

.dropdown-select {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }

    .admin-content {
        margin-left: 180px;
        width: calc(100% - 180px);
    }

    .sidebar ul li a {
        font-size: 18px;
        padding: 8px;
    }
}

@media (max-width: 480px) {

    .admin-nav h2 {
        font-size: 25px;
    }

    .admin-nav .admin-logo-container {
        width: 60px;
        margin-right: 20px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: fixed;
        top: 100px;
        left: 0;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
        background-color: #77dbff;
        z-index: 999;
        border-right: none;
        border-bottom: 1px solid #002c3e;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sidebar ul li a {
        border-bottom: none;
        font-size: 15px;
    }

    .admin-content {
        margin-top: 140px;
        margin-left: 0;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .test-requests {
        padding: 40px 10px;
    }

    .table-container {
        overflow-x: scroll;
    }

    table {
        min-width: 800px;
    }
}

@media (max-width: 480px) {
    .test-requests {
        padding: 20px 0px;
    }

    .table-container {
        overflow-x: scroll;
    }

    ::-webkit-scrollbar{
        display:block;
    }
    
    table {
        min-width: 600px;
        border: 2px solid #002c3e;
    }
}