.team-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 1rem;
}

.team-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 4rem;
  font-family: serif;
}

.founder-card-wrapper {
  margin-bottom: 4rem;
}

.founder-card {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
  max-width: 64rem;
  margin: 0 auto;
}

.founder-card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.founder-card-content {
  display: flex;
  flex-direction: column;
}

.founder-image-wrapper {
  width: 100%;
  height: 400px;
}

.founder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.founder-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.founder-name {
  font-size: 30px;
  font-weight: 600;
  color: #1a202c;
  margin-bottom: 0px;
}

.founder-role {
  font-size: 17px;
  color: #4a5568;
  margin-bottom: 20px;
}

.founder-qualifications {
  display: flex;
  flex-direction: column;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.team-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.team-card:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.team-card-content {
  display: flex;
  flex-direction: column;
}

.team-image-wrapper {
  width: 100%;
  height: 300px;
}

.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-info {
  padding: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-name {
  font-size: 25px;
  font-weight: 600;
  color: #1a202c;
}

.team-role {
  color: #4a5568;
  margin-bottom: 20px;
}

.team-qualifications {
  display: flex;
  flex-direction: column;
}

.qualification {
  font-size: 15px;
  color: #28303d;
}

@media (min-width: 768px) {
  .team-title {
    font-size: 3rem;
  }

  .founder-card-content {
    flex-direction: row;
  }

  .founder-image-wrapper {
    width: 50%;
    height: auto;
  }

  .founder-info {
    width: 50%;
    padding: 2rem;
  }

  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .team-title {
    font-size: 3.75rem;
  }
}

