nav {
    background: #f6f6f6;
    color: black;
    padding: 20px;
}

.active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration: rgb(65, 65, 65);
    /* or any color you prefer for active links */ 
}

li {
    display: inline;
    margin-right: 50px;
    align-items: center;
    font-weight: 600;
}

.login-btn {
    background: transparent;
    outline: 2px solid black;
}

.logo-container {
    height: 60px;
    width: 60px;
}

.logo-container img {
    height: 100%;
    width: 100%;
}