* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

p:last-child {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Accumin', sans-serif;
}

h1 {
  font-family: 'Helvetica', sans-serif;
}